@model Transparent.Business.ViewModels.ArgumentViewModel

<h3>@Model.Caption</h3>
<div id="discussEditPartial" class="display-field">
@using (Ajax.BeginForm("_Discuss", new AjaxOptions { OnSuccess="$(\"#message\").show().delay(2000).fadeOut();", UpdateTargetId = "discussAnswer" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Caption)
    @Html.HiddenFor(m => m.FkTicketId)
    @Html.ValidationSummary(true)
    <fieldset class="long">
        <legend>@Model.Caption</legend>
        <div class="editor-field gap-above">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <input class="float-left" type="submit" value="Save" />
        <div class="message-success" id="message">@Model.Message</div>
        @{Model.Message = "";}
    </fieldset>
}
</div>
