@model Transparent.Models.Ticket.Discuss

<h3>@Model.Caption</h3>
<div id="discussPartial" class="display-field">
@using (Ajax.BeginForm("_Discuss", new AjaxOptions { UpdateTargetId = "discussPartial" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Caption)
    @Html.HiddenFor(m => m.FkTicketId)
    @Html.ValidationSummary(true)
    <fieldset class="long gap-above">
        <legend>@Model.Caption</legend>
        <div class="editor-field gap-above">
            @Html.EditorFor(model => model.Body)
            <br />
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
</div>
