@{
    const string controller = "Ticket";
    var links = new []
    {
        new []{ "Create", "Create" },
        new []{ "Search", "Search" },
        new []{ "Mark Tests", "MarkTests" }
    };
        
    var ticketLists = new []
    {
        new []{ "My Queue", "MyQueue" },
        new []{ "Highest Ranked", "HighestRanked" },
        new []{ "New", "Newest" },
        new []{ "Raised by Me", "RaisedByMe" },
        new []{ "Accepted", "Accepted" },
        new []{ "Answered", "Answered" },
        new []{ "Archive", "Archive" }
    };
}
<header class="menu">
    <script>
        $(function () {
            $("#selectMenu").change(function () {
                var action = this.value;
                if (action) {
                    navigateTo("@controller", action);
                }                
            });
        });
    </script>
    @{
        var listSelected = ticketLists.Any(list => list[0] == ViewBag.Title);
    }
    <select id="selectMenu" class="@(listSelected?"selected":"")">
        <option value="" @(!listSelected?"selected":"") disabled>Choose ticket list</option>
        @{
            foreach(var ticketList in ticketLists)
            {
                var selected = ViewBag.Title == ticketList[0];
                <option value="@ticketList[1]" @(selected ? "selected" : "") class="@(selected ? "selected" : "")">@ticketList[0]</option>
            }
        }
    </select>
    @foreach (var link in links)
    {
        if (ViewBag.Title == link[0])
        {
            <span>@MvcHtmlString.Create(link[0])</span>
        }
        else
        {
            @Html.ActionLink(link[0], link[1], link.Length > 2 ? link[2] : controller);
        }
    }
</header>