@model Transparent.Business.ViewModels.TicketTagsViewModel 
@using Transparent.Business.ViewModels.Interfaces
@using (Ajax.BeginForm("_VerifyTag", new AjaxOptions { UpdateTargetId = "ticketTagsPartial" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TicketId)
    @Html.HiddenFor(m => m.MultipleTags)
    @Html.HiddenFor(m => m.EnableTagButton)
   
    foreach (var ticketTag in Model.TagInfo)
    {
        if (Model.EnableTagButton)
        {
            <a class="button float-left" href="@Url.Action("Details", "Tag", new { id = ticketTag.TagId })">@ticketTag.Name</a>
        }
        else
        {
            <a class="button float-left">@ticketTag.Name</a>
        }    
        if (Model.MultipleTags)
        {
            <div class="float-left">
                @Html.Partial("_WeightedVotePartial", ticketTag)
            </div>
        }   
    } 
}    