@model Transparent.Data.Models.TicketsContainer
@using Transparent.Extensions;
@using Transparent.Data.Models;

@{
    if (Model != null)
    {      
        <section>
            <header>
            @if(!ViewData.ContainsKey("ShowTicketTypeMenu") || (bool)ViewData["ShowTicketTypeMenu"])
            {
                <ul id="menu" class="left subMenu">
                @foreach(var ticketType in ModelViewExtensions.TicketTypeInfo)
                {
                    <li class="@ticketType.Type.GetClass()">
                        @{
                            if(Model.TicketType == ticketType.Type)
                            {
                                <b>@ticketType.PluralDisplayName</b>
                            }
                            else
                            {
                                @Html.ActionLink(ticketType.PluralDisplayName, ViewContext.RouteData.Values["action"].ToString(), Model.GetState(ticketType.Type));
                            }
                        }
                    </li>
                }
                </ul>
            }
            @if (ViewData.ContainsKey("States"))
            {
                var states = (TicketState[])ViewData["States"];
                <ul id="menu" class="left subMenu">
                @foreach (var state in states)
                {
                    <li>
                        @{
                            if(Model.TicketState == state)
                            {
                                <b>@state.DisplayName()</b>
                            }
                            else
                            {
                                @Html.ActionLink(state.DisplayName(), ViewContext.RouteData.Values["action"].ToString(), Model.GetState(state));
                            }
                        }
                    </li>
                }
                </ul>                
            }
            </header>
            <table>
            @foreach (var item in Model.PagedList)
            {
            <tr class="ticket @item.TicketType.GetClass()">
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>@item.TicketType.GetChar()</td>
                <td class="metadata">@Html.DisplayFor(modelItem => item.State)</td>
                <td>
                    @Html.ActionLink(item.Heading, "Details", new { id=item.Id })
                    <div id="ticketTagsPartial" class="metadata">
                        @Html.Action("_TicketTags", new Transparent.Business.ViewModels.TicketTagsViewModel(item, true))
                    </div>
                </td>
                <td class="metadata">
                    @item.TextForCreated at @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            </tr>
            }
            </table>
            @Html.Partial("_PagesPartial", Model)
        </section>
    }
}

