@model Transparent.Data.Models.TicketsContainer
@using Transparent.Extensions;
@using Transparent.Data.Models;

@{
    if (Model != null)
    {      
        <section>
            <header>
                <ul id="menu" class="left subMenu">
                @foreach(var ticketType in ModelViewExtensions.TicketTypeInfo)
                {
                    <li class="@ticketType.Type.GetClass()">
                        @{
                            if(Model.TicketType == ticketType.Type)
                            {
                                <b>@ticketType.PluralDisplayName</b>
                            }
                            else
                            {
                                @Html.ActionLink(ticketType.PluralDisplayName, ViewContext.RouteData.Values["action"].ToString(), Model.GetState(ticketType.Type));
                            }
                        }
                    </li>
                }
                </ul>
            </header>
            <table>
            @foreach (var item in Model.PagedList)
            {
            <tr class="ticket @item.TicketType.GetClass()">
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>@item.TicketType.GetChar()</td>
                <td>
                    @Html.ActionLink(item.Heading, "Details", new { id=item.Id })
                </td>
                <td class="metadata">
                    @item.TextForCreated at @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            </tr>
            }
            </table>
            @Html.Partial("_PagesPartial", Model)
        </section>
    }
}

