@model Transparent.Data.Models.Ticket

@{
    ViewBag.Title = "Create";
}

@Html.Partial("_MenuPartial")

<h2>New question / suggestion</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Heading)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Heading)
            @Html.ValidationMessageFor(model => model.Heading)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
