@model Transparent.Business.ViewModels.TicketDetailsViewModel
@using Transparent.Business.ViewModels;
@using Transparent.Business.Maps;
@using Transparent.Data.Models;
@using Transparent.Data;
@using Common;

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_MenuPartial")

@Html.Partial("_DetailsPartial", Model.Map(), new ViewDataDictionary {{ "TagInfo", Model.TagInfo }})

@if (Model.State == TicketState.Voting)
{
    <div id="votePartial" class="lighter">   
    @Html.Action("_Vote", Model.Vote)
    </div>
}

@if (Model.State >= TicketState.Accepted && User.IsInRole(Constants.VolunteerRole))
{
    <div id="assignPartial" class="lighter">   
    @Html.Action("_Assign", new AssignViewModel { TicketId = Model.Id, TicketState = Model.State, Username = Model.AssignedName })
    </div>
}

@{
    var args = Model.Arguments;
    var currentUsersArg = args.SingleOrDefault(arg => arg.FkUserId == WebSecurity.CurrentUserId);
    foreach (var argument in args.Where(arg => arg != currentUsersArg))
    {
        @Html.Partial("_DiscussViewPartial", argument)
    }
}

@if (Model.State == TicketState.Discussion && Model.TagInfo.Any(info => info.UserIsExpert))
{
    <input id="discussButton" style="display:@(currentUsersArg == null?"inline":"none")" type="button" value="Add @Model.TextForArgument.PrefixIndefiniteArticle()"/>
    <div id="discussAnswer" style="display:@(currentUsersArg == null?"none":"inline")">
        @Html.Action("_Discuss", currentUsersArg ?? new ArgumentViewModel { FkTicketId = Model.Id, Caption = @Model.TextForArgument.CapitalizeFirstLetter() })
    </div>
    <script>
        $(function () {
            $("#discussButton").click(function (e) {
                $("#discussButton").hide();
                $("#discussAnswer").show("slow");
            });
        });
    </script>    
}
