@model Transparent.Business.ViewModels.TicketDetailsViewModel
@using Transparent.Business.ViewModels;
@using Transparent.Business.Maps;
@using Common;

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_MenuPartial")

@Html.Partial("_DetailsPartial", Model.Map())

@foreach (var argument in Model.Arguments)
{
    @Html.Partial("_DiscussViewPartial", argument)
}

@if (Model.State == Transparent.Data.Models.TicketState.Discussion && Model.TagInfo.Any(info => info.UserIsExpert))
{// TODO: Ensure that user has not already answered!
    <input id="discussButton" type="button" value="Add @Model.TextForArgument.PrefixIndefiniteArticle()"/>
    <div id="discussAnswer" style="display:none">
        @Html.Action("_Discuss", new DiscussViewModel { FkTicketId = Model.Id, Caption = @Model.TextForArgument.CapitalizeFirstLetter() })
    </div>
    <script>
        $(function () {
            $("#discussButton").click(function (e) {
                $("#discussButton").hide();
                $("#discussAnswer").show("slow");
            });
        });
    </script>    
}
