@model Transparent.Data.Models.Ticket

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_MenuPartial", Model)

@*<script>
    function IncreaseRank(ticketId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("IncreaseRank")',
            contentType: "application/json; charset=utf-8",
            data: ticketId,
            dataType: "json",
            success: function () { alert('Success'); },
            error: function () { alert('Failed'); }
        });
    }
</script>*@

<fieldset>
    <legend>Ticket</legend>

    <div class="display-field">
        <h3>@Html.DisplayFor(model => model.Heading)</h3>
    </div>
    <div>
        <div class="float-left" style="text-align:center">         
            @Html.Action("_Rank", new Transparent.Data.Models.Ticket { Id = Model.Id, Rank = Model.Rank })
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Body)
        </div>
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
</p>
