@model Transparent.Data.Models.Search

@{
    ViewBag.Title = "Search";
}

@Html.Partial("_MenuPartial")

@using (Html.BeginForm("Search", "Ticket")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>
        <div class="editor-field gap-above">
            @Html.TextBoxFor(model => model.SearchString, new { @class = "extraLong", placeholder = "search" })
            <input type="submit" value="Search" />
        </div>
        @Html.ValidationMessageFor(model => model.SearchString)
    </fieldset>
}

@Html.Partial("_TicketListPartial", Model)
