@model Transparent.Business.ViewModels.TestAndAnswerViewModel

@{
    ViewBag.Title = "TakeTest";
    ViewBag.ShowRank = false;
    ViewBag.EnableTagButton = false;
}

<h2>Take a Test</h2>

@Html.Partial("_DetailsPartial", Model.Test)

@using (Html.BeginForm("TakeTest", "Ticket"))
{
    @Html.ValidationSummary(true)
<fieldset class="long">
    <legend>Test</legend>
    @Html.HiddenFor(model => model.Test.Id)
    @Html.HiddenFor(model => model.Test.TagId)
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Answer)
    </div>
    <div class="display-field">
        @Html.EditorFor(model => model.Answer)
    </div>
    <p>
        <input type="submit" value="Submit" />
    </p>
</fieldset>
}
