@model Transparent.Business.ViewModels.VolunteerViewModel

@{
    ViewBag.Title = "Volunteer";
}

@Html.Partial("_MenuPartial")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="long">
        <legend>VolunteerViewModel</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.Volunteer)
            Tick the box to volunteer.
            @Html.ValidationMessageFor(model => model.Volunteer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Services)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Services)
            @Html.ValidationMessageFor(model => model.Services)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
