@model Transparent.Data.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Register", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        @Html.HiddenFor(m => m.GetFacebookToken)
        @Html.HiddenFor(m => m.FacebookToken)
        @Html.HiddenFor(m => m.ReturnUrl)
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                <strong>Not your real name.</strong>
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email)
            </li>
            @if (Model == null || Model.GetFacebookToken == null || !Model.GetFacebookToken.Value)
            {
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            }
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}
