@model Transparent.Data.Models.UserProfile
@using Transparent.Data.Models;
@{
    ViewBag.Title = "User Profile";
}

@Html.Partial("_AccountMenuPartial")

<fieldset>
    <legend>UserProfile</legend>

    <table>
        <tr>
            <td class="display-label">
                 @Html.DisplayNameFor(model => model.UserName)
            </td>
            <td class="display-field" colspan="3">
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                 @Html.DisplayNameFor(model => model.Email)
            </td>
            <td class="display-field" colspan="3">
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <th class="display-label">
                Points
            </th>
            <th>
                @Html.DisplayFor(model => model.UserName)
            </th>
            <th class="display-label @KnowledgeLevel.Competent">
                Competent level
            </th>
            <th class="display-label @KnowledgeLevel.Expert">
                Expert level
            </th>
        </tr>
        @Html.DisplayFor(model => model.Tags, new { ShowRequiredPointsColumn = true })
        <tr>
            <td class="display-label">
                 Total points
            </td>
            <td class="display-field">
                @Model.Tags.Sum(tag => tag.TotalPoints)
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.UserId })*@
</p>
