@model Transparent.Data.Models.Tag
@using Castle.Windsor
@using Transparent.Data.Interfaces

@{
    ViewBag.Title = "Details";
    var container = ((IContainerAccessor)Context.ApplicationInstance).Container;
    var tags = container.Resolve<ITags>();
    var tickets = container.Resolve<ITickets>();
    var numberOfTests = tickets.CountUntakenTestsRemaining(Model.Id, WebSecurity.CurrentUserId);
}

<canvas id="tagDiagram" width="660" height="300" style="border:1px solid #FFFFFF;">
</canvas>
<script src="/Scripts/tags.boxes-0001.js"></script>
<script>
    $(function () {
        var model = @tags.SerializeTag(Model);
        var actionUrl = "@Url.Action("Details", new { id = "" })";
        drawTags(model, actionUrl);

        $("#takeTestButton").click(function(e) {
            e.preventDefault();
            TakeTestPrompt();
        });
    });

    function TakeTestPrompt() {
        if(confirm("Taking a test deducts two points, which you get back when your answer is marked as good.\nAre you ready?"))
            window.location.href = "@Url.Action("TakeTest", "Ticket", new { tagId = Model.Id })";
    }
</script>
<fieldset>
    <legend>Tag</legend>
    <div class="display-field">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        @if(numberOfTests > 0)
        {
            <a id="takeTestButton" class="button">Take a test</a><text>(</text>@Html.Raw(numberOfTests)<text> remaining)</text>
        }
        else
        {
            <i>All tests have been taken.</i>
        }
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
