@using Transparent.Data
@using Castle.Windsor
@using Transparent.Data.Interfaces

@{
    var container = ((IContainerAccessor)Context.ApplicationInstance).Container;
    var configuration = container.Resolve<IConfiguration>();
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @Transparent.Data.Constants.ApplicationName</title>
        <link rel="apple-touch-icon" sizes="57x57" href="~/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="~/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="~/manifest.json">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="~/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/general-0009.js"></script>
        <script src="/Scripts/controls-0001.js"></script>
        <script src="/Scripts/custom.validation-0001.js"></script>
    </head>
    <body>
        <script>
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="top medium" />
        <header class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p class="site-title">@Html.ActionLink(Constants.ApplicationName, "Index", "Home")</p>
                    <div class="metadata">A self-improving system for making the changes that you care about.</div>
                </div>
                <div class="col-sm-4">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav class="menu">
                        @{var links = new []
                            {
                                new []{ "Home", "Index" },
                                new []{ "About", "About" },
                                new []{ "Contact", "Contact" }
                            };
                        }
                        @foreach(var link in links)
                        {
                            if (ViewBag.Title == link[0])
                            {
                                <span>@MvcHtmlString.Create(link[0])</span>
                            }
                            else
                            {
                                @Html.ActionLink(link[0], link[1], link.Length > 2 ? link[2] : "Home");
                            }
                        }
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3>@Html.ActionLink("Main goal: " + Constants.Goal + ".", "MainGoal", "Home")</h3>
                    @Html.ActionLink("Current subgoal: " + configuration.CurrentSubgoal + ".", "Subgoal", "Home")
                </div>
                <div class="col-sm-4">
                    @Html.Partial("_NonTicketMenuPartial")
                </div>
            </div>
        </header>
        <div id="body" class="container">
            @RenderSection("featured", required: false)
            <section class="row main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </body>
</html>
