@using Transparent.Data.Models
@if (Model.UserMayVote)
{
    var buttonClassFor = (Model.UserVote == Stance.For ? "inset" : "outset") + " ui-icon-check ui-icon";
    var buttonClassAgainst = (Model.UserVote == Stance.Against ? "inset" : "outset") + " ui-icon-close ui-icon";
    var buttonNameFor = (Model.UserVote == Stance.For ? "neutralId" : "forId");
    var buttonNameAgainst = (Model.UserVote == Stance.Against ? "neutralId" : "againstId");
    <button name="@buttonNameAgainst" class="@buttonClassAgainst" title="Delete tag" value="@Model.Id">Against</button>
    <button name="@buttonNameFor" class="@buttonClassFor" title="Verify tag" value="@Model.Id">For</button>                      
}
