@model Transparent.Business.ViewModels.StatsViewModel


<div class="col-md-4 float-right">
    <h3>Statistics</h3>
    <table>
        <tr>
            <td>
                 @Html.DisplayNameFor(model => model.RegisteredUsers)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegisteredUsers)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SuggestionsCreated)
            </td>
            <td>
                @Html.DisplayFor(model => model.SuggestionsCreated)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SuggestionsImplemented)
            </td>
            <td>
                @Html.DisplayFor(model => model.SuggestionsImplemented)
            </td>
        </tr>
    </table>
</div>

