@model Transparent.Business.ViewModels.VolunteerViewModel
<tr class="underlined">
    @{var id = @Guid.NewGuid();}
    <td class="metadata float-left">
        @Html.DisplayFor(model => model.UserSummary)
    </td>
    <td id="@id" class="display-field">
        <script>displayText("@id", "@HttpUtility.JavaScriptStringEncode(Model.Services)", 300)</script>
    </td>
</tr>
